.App{
  display: flex;
  justify-content: space-evenly;
}
.userEntry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.enemyEntry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
