@import url('http://fonts.cdnfonts.com/css/wonder-boy-in-monster-world');
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Wonder Boy In Monster World', sans-serif;
  flex-direction: column;
  
}
.userEntry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.enemyEntry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
